{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "arrowParens": "avoid",
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react(.*)", "styled-components/(.*)", "<THIRD_PARTY_MODULES>", "@src/(.*)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
