{
  "exclude": ["stories", "testUtils", "__tests__"],
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true
  },
  "jsc": {
    "baseUrl": "src",
    "paths": {
      "@src/*": ["./*"]
    },
    "minify": {
      "compress": {
        "drop_console": true
      }
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "dynamicImport": true
    }
  }
}
