@use '../theme/mixins';
@use '../theme/variables';

.blockset {
  @include mixins.gap-x;
  @include mixins.grid-template-columns-x;

  @include mixins.large {
    max-width: variables.$max-width;

    &.extendContent {
      max-width: 100%;
    }
  }

  display: grid;
  position: relative;
  margin: 0 auto;
  width: 100%;

}

.wrapper {
  position: relative;
}

