@use '../theme/variables';

.block-set {
  position: relative;
  display: grid;
  gap: variables.$gap;
  grid-template-columns: repeat(variables.$columns, 1fr);

  @media (min-width: variables.$breakPointLarge) {
    max-width: variables.$maxWidth;
  }

  &.extend,
  &.extend-bg {
    max-width: 100%;
  }

  &.extend-bg {
    justify-content: center;
  }

  width: 100%;
  margin: 0 auto;
}
