@use '../theme/mixins';
@use '../theme/variables';

.block {
  @include mixins.grid-column-x;
  
  @include mixins.small {
    grid-column: 1/-1;
  }
  
  display: grid;
  position: relative;

  img {
    max-width: 100%;
  }

}