.article {
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;

  img {
    max-width: 100%;
  }
}

.title {
  text-transform: capitalize;
}
